# Ignored files and directories by Docker: it will not be copied from host into the image
# OS Environment specific files to ignore
.DS_Store

# Git and build artifacts to ignore
.git
.github
.gitignore
.dockerignore

# Executable and test files to ignore
*.exe
*.out
*.test

# Documentation files to ignore
README.pdf

# SSL certificates to ignore
assets/certs/
*.pem
